::-webkit-scrollbar {
    width: 5px;
    right:5px;
    position:absolute;
    height: 8px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background: #34495e;
    border-radius:10px;
}